.sidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    width: 200px;
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
}

.vidledger {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}